# Day 3
#### Date : 12-06-2019
#### Day objectives
* Tuples
* dictionaries
* idiomatic programming in python
* Linear and Binary Search
* Date Arithmetic
* Iterators and Generators
* Fuctional Programming

#### Python Tuples
* in tuple we cannot do change,sort,delete but in list we can do changes ,delete,sort
* tuples are only for access the data
* tuple is tempararoy data

In [3]:
t1 = (1001, 'name' ,85 ,72 ,90)

In [4]:
t1[2:] # it will take default the last value

(85, 72, 90)

In [5]:
t1[:2]

(1001, 'name')

In [7]:
t1[2]+t1[3] # it is for adding

157

In [17]:
t2=(321, 345, 456,567)
#print(str(t2[0])[1] ,str(t2[1])[1],str(t2[2])[1]) for acessing the 2 element in the number
str(t2[0])[1]+str(t2[1])[1]+str(t2[2])[1]

'245'

In [19]:
#function to calculate the average of all elements
def averagetuple(t):
    sum=0
    for i in range(0, len(t)):
        sum += t[i]
    return sum/len(t)
averagetuple(t2)

422.25

In [37]:
def averagelineards(t):
    sum=0
   # for i in range(0,len(t)):
    #    sum +=t[i]
    for item in t:
        sum +=item
    return sum/len(t)
li=[123,234,345,456]
averagelineards(li)
type(li)
type(str)
type(t1)

tuple

In [44]:
def searchlineards(li ,key):
    #for i in range(0,len(li)):
    for i in li :  
        if li[i]==key:
            return i
    return -1
searchlineards(li,456)

NameError: name 'i' is not defined

#### iterable objects

In [38]:
s="python"
for c in s:
    print(c)

p
y
t
h
o
n

In [53]:
# function to identify the element in a DS as iterable objects
def maxelementsds(ds):
    m=0                      #m=ds[0]
    for item in ds:
        if item>m:           #if item<m:
            m=item
    return m
maxelementsds(li)   
    
    
#max[243,678,456,345]

456

Python Dictionaries
* dictionaries is a non linear or non indexing
* and set , heap is also non linear
* Stack Queue is Also is linear
* we want to acess the data it want the key
*      eg:-contacts
* keys are unique values always we acesss the unique entity
* in this driectly we can assign we dont want to add

In [3]:
d1={'name':12323454 , 'name2':178684724}
d1['name2']

178684724

In [4]:
print(d1['name2'])
d1.keys()
d1.values()

178684724

dict_values([12323454, 178684724])

In [5]:
d1['name3']=76368178797

In [6]:
d1

{'name': 12323454, 'name2': 178684724, 'name3': 76368178797}

In [7]:
#d1.revome()#del d1 otherway to remove,it is default ,del is used to renove all the array or del it is not for remove keys 
d1.pop('name3') # pop is used for deleting the both key and value
d1

{'name': 12323454, 'name2': 178684724}

In [8]:
del d1

In [9]:
d1

NameError: name 'd1' is not defined

In [10]:
# concats application
# Dispaly add modify and delete contacts
contacts={}
def addcontact(c,name, phone):
    c[name]=phone
    return 
#addcontact(contacts,"name1",162898)
def displaycontacts(contacts):
    for name,phone in contacts.items():
        print(name,":" ,phone)
    return
def deletecontacts(contacts,name):
    contacts[name]=

SyntaxError: invalid syntax (<ipython-input-10-276d6518006b>, line 13)

In [15]:
addcontact(contacts,'name2',684946177)
addcontact(contacts,'name1',676482469)

In [16]:
displaycontacts(contacts)

name2 : 684946177
name1 : 676482469

In [17]:
contacts.items()

dict_items([('name2', 684946177), ('name1', 676482469)])

In [23]:
li2=[1,2,3,4,5,6]
li2=reversed(li2)#
for i in li2 :  
    print(i)
#li2=[rversed(li2)]
type(li2)
#   for i in li2 :
#        print(i)

6
5
4
3
2
1

list_reverseiterator

In [24]:
enumerate(li2)
for i ,value in enumerate(li2):
    print(i,':',value)

In [25]:
enumerate(li2)
for i ,value in enumerate(li2):
    print(i,':',value)